.square {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px solid black;
  }
  
  .circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
  }
  
  .top-left {
    top: -15px;
    left: -15px;
    text-align:center;
  }
  
  .top-right {
    top: -15px;
    right: -15px;
    text-align:center;
  }
  
  .bottom-left {
    bottom: -15px;
    left: -15px;
    text-align:center;
  }
  
  .bottom-right {
    bottom: -15px;
    right: -15px;
    text-align:center;
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  