.caja{
    background-color:red;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

.circulo1{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    position:relative;
    top:-111px;
}

.circulo2{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    position:relative;
    top: -29px;

    
}

.circulo3{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    position: relative;
    left: 215px;
    top:-45px;
}

.circulo4{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    position:relative;
    top: -170px;
    left:215px;
}